@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --grey: #F0F0F0;
    --darkGrey: #666262;
    --green: #95CDAA;
    --darkBlue: #143794;
    --red: #F84C4D;
    --paleBlue: #BDCAE1;
    --bgBlue: #EDEFF3;
    --darkRed: #000000;
    --darkGreen: #47CB78;
    --paleGreen:#47CB78;
    --darkGreyy: #505050;
    --paleRed:#F27B7ACC;
}

@font-face {
    font-family: 'IRANSans';
    src: url('/font/IRANSans.ttf') format('truetype');
    /*src: url('/font/Vazirmatn-Regular.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'IRANSans' !important;
    border: none;
}

html {
    direction: rtl;
}

input {
    outline: none;
}

a {
    cursor: pointer;
}
.darkgrey-color
{
    color: var(--darkGreyy);
}
.darkBlue-color {
    color: var(--darkBlue);
}
.m-w-pic-c
{
    width: 20rem;
}
.bg-page {
    background-color: #EDEFF3;
    min-height: 50rem;
}
.bg-paleRed
{
    background-color: var(--paleRed);
}
.grey-color {
    color: var(--darkGrey);
}

.green-btn {
    background-color: var(--green);
    border-radius: 5px;
    color: black;
    padding: 0.7rem;
}
.m-h-discount
{
    min-height: 10rem;
    height: 100%;
}
.bg-grey {
    background-color: var(--grey);
}
.color-red
{
    color: var(--red);
}
.paleGreen-color
{
    color: var(--paleGreen);
}
.p-0 {
    padding: 0px !important;
}

.text-disable {
    color: #7b7b7b;
}

.bg-darkGreen {
    background-color: var(--darkGreen);
}
.bg-red {
    background-color: var(--red);
}

.bg-darkRed {
    background-color: var(--darkRed);
}

.btn-page {
    border-radius: 5px;
    padding: 0.6rem;
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
}

.bg-darkBlue {
    background-color: var(--darkBlue);
}

.h-3 {
    height: 3.3rem;
}

.bg-paleBlue {
    background-color: var(--paleBlue);
}

.h-main {
    min-height: 26rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-size {
    font-size: 1.7rem;
}
.green-color {
    color: var(--green);
}

.d-rtl {
    direction: rtl;
}

.css-qlig70 {
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-padding-end: 0px !important;
    padding-inline-end: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.css-pv22qu {
    min-width: 90% !important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: inherit !important;
    box-shadow: none !important;
}
.css-1u2cvaz
{
    justify-content: center !important;
    /*align-items: center !important;*/
    margin-top: 10% !important;
}
.css-uttm9k
{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.css-1hb5ode
{
    padding-top: 1rem !important;
}
.div-v-banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-dashboard
{
    width: 100%;
}
@media only screen and (min-width: 1400px)
{
    .div-dashboard
    {
        width: 85rem !important;
    }
}
.div-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.use-spring-carousel-track-wrapper {
    left: 0px !important;
    direction: ltr;
    gap: 2rem;
}
.App
{
    /*gap: 5rem;*/
}
.use-spring-carousel-item {
    flex: 1 0 calc(0% / 1 - 0px)!important;
    justify-content: center;
}

.panel {
    background-color: var(--bgBlue);
}

.sliding-panel-container {
    direction: ltr;
}
.badge-message
{
    top: -0.5rem;
    left: -0.6rem;
}
.Previous-button-cersoul {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 999;
}

.next-button-cersoul {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
}
.p-btn-big
{
    padding-right: 10% !important;
    padding-left: 10% !important;
}
.div-cersoul {
    position: relative;
    overflow: hidden;
}

.discount-text {
    top: -0.5rem;
}

.discount-icon {
    left: 3rem;
    rotate: -25deg;
}

.border-red {
    border: 3px solid var(--red);
}
.price-line
{
    position: absolute;
    top: 13px;
}
.hr-price
{
    position: absolute;
    top: 0;
}
.video-div div {
    height: fit-content;
}

.test:before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: #CBD5E0;
    margin-right: 16px;
}

@media (min-width: 640px) {
    .test:before {
        width: 40px;
    }
}




.negavid-video-stream {
    padding-bottom: 60.25% !important;
    padding-top: 0px !important;
}

.vid-div-banner {
    width: 100% !important;
    /*width: 55rem !important;*/
}
.swal2-container.swal2-center
{
    z-index:99999;
}
.div-mypackage
{
    width: 55rem;
}
iframe div {
    border-radius: 0px !important;
}

.carousel-container
{
    /*direction: rtl;*/
}

.multi-pack-item {
    height: 28rem !important;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:768px) {
    .plyr {
        border-radius: 0px !important;
    }
}

@media only screen and (min-width:400px) and (max-width: 640px) {
    .item-size {
        width: 25rem;
        height: 25rem;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-item
    {
        width: 90% !important;
        height: 20rem !important;
    }
    .item-size {
        width: 20rem !important;
        height: 20rem !important;
    }
    .multi-pack-item
    {
        height: 100% !important;
    }
}

@media only screen and (min-width:640px) and (max-width: 1024px) {
    .item-size {
        width: 25rem;
        height: 25rem;
    }
}

@media only screen and (max-width:700px)
{
    .css-1u2cvaz
    {
        margin-top: 50% !important;
    }
}
@media only screen and (min-width:1024px) {
    .item-size {
        width: 24rem;
        height: 28rem;
    }
}

@media only screen and (max-width:1000px)
{
    .div-mypackage
    {
        width: 90% !important;
    }
}
@media only screen and (max-width:420px)
{
    .course-item
    {
        width: 100% !important;
        height: 100% !important;
    }
}
.course-item
{
    width: 25rem;
    height: 30rem;
}
.package-carsoul-item {
    width: 22rem;
}

@media only screen and (min-width:1000px) {
    .css-pv22qu {
        min-width: 40rem !important;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    position: sticky;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #383636;
    border-radius: 50%;
    top: 50%;
    animation: spinner 1.5s linear infinite;
}
.spinner {
    position: absolute;
    padding-top: 20%;
    padding-right: 50%;
    height: 100%;
    /*opacity: 10%;*/
    width: 100%;
    background-color: rgba(123, 123, 123, 0.4);
    z-index: 999;
}
.carousel-item
{
    width: 30rem;
}
.py-4
{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.course-item a
{
    width: 80%;
}
.m-h-50
{
    max-height: 50rem;
}
.active-div-message
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}