code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
   display: inline-block;
  vertical-align: middle;
}
