:root{
    --grey:#F0F0F0;
    --darkGrey:#666262;
    --green:#95CDAA;
    --darkBlue:#143794;
    --red:#F84C4D;
    --darkRed: #d54041;
    --paleBlue:#BDCAE1;
}
input
{
    outline: none;
}
a{
    cursor: pointer;
}
.darkBlue-color
{
    color: var(--darkBlue);
}
.bg-page
{
    background-color: #EDEFF3;
    min-height: 50rem;
}
.grey-color
{
    color: var(--darkGrey);
}
.bg-grey
{
    background-color: var(--grey);
}
.text-disable
{
    color: #7b7b7b;
}
.bg-red
{
    background-color: var(--red);
}
.bg-darkBlue
{
    background-color: var(--darkBlue);
}
.h-3
{
    height: 3.3rem;
}
.bg-paleBlue
{
    background-color: var(--paleBlue);
}
.title-size
{
    font-size: 1.7rem;
}
.green-color
{
    color: var(--green);
}
.d-rtl
{
    direction: rtl;
}
.css-qlig70
{
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-padding-end: 0px !important;
    padding-inline-end: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.css-pv22qu
{
    min-width: 45rem;
}
.div-v-banner
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-banner
{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-item
{
    background-color: white;
    color: var(--red);
}
